.contact-container{
  color: white;
  width: 2320px;
  height: 980px;
  background-color: rgba(33,32,33,255);
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  margin: 30px auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container h1{
  color: rgba(0, 249, 255, 0.9);
  /*font-family: 'Boomer Tantrum', sans-serif;*/
  font-family: 'Hacuia', sans-serif;

  font-size: 70px;
  margin-top: 50px;
}

.contact-container h2{
  /*color: rgba(0, 249, 255, 0.9);*/
  font-size: 55px;
}

.contact-container a{
  /*font-family: 'Boomer Tantrum', sans-serif;*/
  /*color: rgba(0, 249, 255, 0.9);*/
  font-size: 55px;
}

.contact-container h3{
  margin-bottom: 10px;
  font-size: 25px;
}

.contact-container h4{
  font-size: 21px;
}

.contact-list-container{
  text-align: center;
  padding-bottom: 50px;
}

.email{
  cursor: pointer;
}

/* Tooltip text */
.email .tooltiptext {
  visibility: hidden;
  background-color: rgba(15,14,15,255);
  text-align: center;
  border-radius: 6px;
  font-size: 25px;
  padding: 5px 10px;
}

.email:hover .tooltiptext {
  visibility: visible;
}
