.contact-container{
  color: white;
  width: 2320px;
  height: 980px;
  background-color: rgba(33,32,33,255);
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  margin: 30px auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
