<div class="projects-container">
  <div (click)="previousProject()" class="previous-button"> < </div>

  <div class="single-project-container">

    <div class="title-container">
      <h1>{{projects[counter].title}} </h1>
      <h2>{{counter+1}}/{{projects.length}}</h2>
    </div>


    <mat-divider></mat-divider>


    <div class="description-container">

      <h2>Short Description</h2>
      <mat-divider></mat-divider>
      <h3>{{projects[counter].description}}</h3>

      <h2>Skills</h2>
      <mat-divider></mat-divider>
      <h3 *ngFor="let skill of projects[counter].skills">○ {{skill}}</h3>


    </div>

    <img *ngFor="let picture of projects[counter].pictures" src="{{picture}}" alt="img">

  </div>
  <div (click)="nextProject()" class="next-button"> > </div>
</div>
