

<div class="aboutme-container">

  <h1>About me</h1>
  <mat-divider></mat-divider>

  <div class="aboutme-inner-container">

    <div class="about-me-info-container">

      <h3>My name is Samir Rademakers, I am originally from a place called Hellevoetsluis but now I live in Breda, The Netherlands. In
        secondary school I graduated at HAVO level with bilingual language education. This means
        that most of my time at secondary school, my education was given to me fully in English
        instead of in Dutch. I also got a Cambridge and IB certificate for this.
        From a very young age I have always been interested in computers and in the last two years
        of secondary school I also chose to take computer science as an extra subject. After that I
        started studying technical computer science at Avans Hogeschool in Breda. Ever since I
        started studying this, I discovered that I have a true passion for developing software.
      </h3>


      <div class="genre-info-container">
        <h2>Education</h2>
        <mat-divider></mat-divider>
        <h3>○ 2014-2019: Highschool</h3>
        <h4>Senior general secondary education</h4>
        <h4>School: Jacob van Liesveldt</h4>
        <mat-divider></mat-divider>
        <h3>○ 2019-2023: University</h3>
        <h4>Technical Computer Science Bachelor Degree</h4>
        <h4>School: Avans Hogeschool</h4>
        <mat-divider></mat-divider>
      </div>


      <div class="genre-info-container">
        <h2>Work Experience</h2>
        <mat-divider></mat-divider>
        <h3>○ 2018-2019: Stock clerk</h3>
        <h4>Company: Jumbo</h4>
        <mat-divider></mat-divider>
        <h3>○ 2021-2022: IT Intern</h3>
        <h4>Company: NewCold</h4>
        <mat-divider></mat-divider>

      </div>

      <div class="genre-info-container">
        <h2>Certificates</h2>
        <mat-divider></mat-divider>
        <h3>○ Senior TTO certificate</h3>
        <mat-divider></mat-divider>
        <h3>○ Junior TTO certificate</h3>
        <mat-divider></mat-divider>
        <h3>○ Cambridge English Level 1 certificate</h3>
        <mat-divider></mat-divider>
        <h3>○ International Baccalaureate certificate</h3>
        <mat-divider></mat-divider>



      </div>


    </div>




    <img class="profile-image" src="https://cdn.discordapp.com/attachments/616314074547879938/980916477152624690/pf2_-_Copy_2.jpg" alt="img">

  </div>



</div>
