

<div class="aboutme-container">

  <h1>About me</h1>
  <mat-divider></mat-divider>

  <div class="aboutme-inner-container">

    <div class="about-me-info-container">

      <h3>My name is Samir Rademakers, I am 19 years old and I am from The Netherlands. When I was 16 years old I moved out to study
        technical computer science in Breda, a city in The Netherlands about an hour away from my hometown. Before I started studying I
        graduated highschool with bilingual education, therefore my English is almost as good as my Dutch.
      </h3>
      <h3>From a very young age I have always been interested in computers and in the last two years
        of highschool I also chose to take computer science as an extra subject. After that I
        started studying technical computer science at Avans Hogeschool in Breda. Ever since I
        started studying computer science, I discovered that I have a true passion for developing software.
      </h3>
      <h3>
        In my free time I like to play games, hang out with friends, go out, do fitness and travel. Also in my free time I like to work
        on my own computer science related projects. One of those projects for example is this website :).
      </h3>


      <div class="genre-info-container">
        <h2>Education</h2>
        <mat-divider></mat-divider>
        <h3>○ 2014-2019: Highschool</h3>
        <h4>Senior general secondary education</h4>
        <h4>School: Jacob van Liesveldt, Hellevoetsluis</h4>
        <mat-divider></mat-divider>
        <h3>○ 2019-2023: University</h3>
        <h4>Technical Computer Science Bachelor Degree</h4>
        <h4>School: Avans Hogeschool, Breda</h4>
        <mat-divider></mat-divider>
      </div>


      <div class="genre-info-container">
        <h2>Work Experience</h2>
        <mat-divider></mat-divider>
        <h3>○ 2018-2019: Stock clerk</h3>
        <h4>Company: Jumbo</h4>
        <mat-divider></mat-divider>
        <h3>○ 2021-2022: IT Intern</h3>
        <h4>Company: NewCold</h4>
        <mat-divider></mat-divider>

      </div>

      <div class="genre-info-container">
        <h2>Certificates</h2>
        <mat-divider></mat-divider>
        <h3>○ Junior Bilingual Education certificate</h3>
        <mat-divider></mat-divider>
        <h3>○ Senior Bilingual Education certificate</h3>
        <mat-divider></mat-divider>
        <h3>○ Cambridge English Level 1 certificate</h3>
        <mat-divider></mat-divider>
        <h3>○ International Baccalaureate certificate</h3>
        <mat-divider></mat-divider>



      </div>


    </div>




    <img class="profile-image" src="https://cdn.discordapp.com/attachments/616314074547879938/980916477152624690/pf2_-_Copy_2.jpg" alt="img">

  </div>



</div>
